@import "css3-mixins";

body {
	background-color: #F4F4F4;
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.you-topic-module {
	font-size: 12px;
	border: 1px solid #BABABA;
	.you-topic-titlebar {
		padding: 8px 5px;
		border-bottom: 1px solid #BABABA;
	}
	.you-topic-list {
		padding: 3px 0;
		.you-topic-item {
			vertical-align: middle;
			padding: 5px 5px;
			.you-topic-item-num {
				vertical-align: middle;
				@include radius;
				display: inline-block;
				text-align: center;
				margin-right: 5px;
				width: 14px;
				height: 14px;
				line-height: 14px;
				border: 1px solid transparent;
			}
			a {
				vertical-align: middle;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}